{{!-- <h4>{{did_devour}}</h4> --}}

<ul>
{{#each did_devour }}
  {{!-- <li>{{id}}, {{burger_name}}, Devoured? ${{devoured}}, BurpTime: {{burp_time}} </li> --}}
  <li>{{id}}, {{burger_name}}, Devoured: {{devoured}}</li>
{{/each}}
</ul>
