{{!-- <h4>{{want_devour}}</h4> --}}

  <ul>
  {{#each want_devour }}
    {{!-- <li>{{id}}, {{burger_name}}, Devoured: {{devoured}}, BurpTime: {{burp_time}} </li> --}}
    <li>{{id}}, {{burger_name}}, Devoured: {{devoured}}</li>
  {{/each}}
  </ul>


